<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amazon Clone</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- hearder section start -->
    <header>
        <!-- navbar section start -->
        {{>navbar}}
        <!-- navbar section end -->

        <!-- Panel section start -->
        {{>panelbar}}
        <!-- panel section end-->
    </header>
    <!-- hearder section end -->
    
    <!-- main section start -->
    <main class="main_content">
         <!--benner section start -->
        <div class="banner_container">
            <div class="banner_inner">
            <div class="banner_item">
                <img src="images/benner1.jpg"  alt="">
            </div>
                <div class="banner_item">
                    <img src="images/benner2.jpg" alt="">
                </div>
                <div class="banner_item">
                    <img src="images/benner3.jpg"  alt="">
                </div>
                <div class="banner_item">
                    <img src="images/benner4.jpg" alt="">
                </div>
                <div class="banner_item">
                    <img src="images/benner5.jpg" alt="">
                </div>
                <div class="banner_item">
                    <img src="images/benner6.jpg" alt="">
                </div>
            </div>
            <!-- button start -->
            <div class="button-p-n">
                <button class="banner_control-prev hover" type="button" id="prev">
                    &#10094;
                </button>
                <button class="banner_control-next hover" type="button" id="next">
                    &#10095;
                </button>
            </div>
            <!-- button end -->
        </div>
        <!-- banner section end -->

        <!-- card product section start -->
        <div class="card_product_section">
            <div class="card-product-content">
            <div class="card-product">
                    <h2>Deals on smartphones that suits your budget</h2>
                    <div class="product-nested-cards">
                        <div class="nested-card">
                            <img src="images/cardmob1.jpg">
                            <p>Budget | Under ₹10,000</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/cardmob2.jpg">
                            <p>Mid range | ₹10,000 - ₹25,000</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/cardmob3.jpg">
                            <p>Premium | ₹25,000 - ₹40,000</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/cardmob4.jpg">
                            <p>Ultra premium | Above ₹40,000</p>
                        </div>
                    </div>
                    <button class="card-product-btn">see more</button>
                </div> 
                
                <div class="card-product">
                    <h2>Up to 75% off | Headphones</h2>
                    <div class="product-nested-cards">
                        <div class="nested-card">
                            <img src="images/card1.jpg">
                            <p>boAt Up to 75% off | boAt</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card2.jpg">
                            <p>boAtUp to 75% off | boult</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card3.jpg">
                            <p>boAtUp to 75% off | noise</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card4.jpg">
                            <p>boAtUp to 75% off | zebronics</p>
                        </div>
                    </div>
                    <button class="card-product-btn">see more</button>
                </div>

                <div class="card-product">
                    <h2>Up to 60% off | Styles for men</h2>
                    <div class="product-nested-cards">
                        <div class="nested-card">
                            <img src="images/card5.jpg">
                            <p>Clothing</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card6.jpg">
                            <p>Footwear</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card7.jpg">
                            <p>Watches</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card8.jpg">
                            <p>Bags & wallets</p>
                        </div>
                    </div>
                    <button class="card-product-btn">see more</button>
                </div>

                <div class="card-product">
                    <h2>Revamp your home in style</h2>
                    <div class="product-nested-cards">
                        <div class="nested-card">
                            <img src="images/card9.jpg">
                            <p>Bedsheets, curtains & more</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card10.jpg">
                            <p>Home decoration</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card11.jpg">
                            <p>Home storage</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card12.jpg">
                            <p>Lighting solutions</p>
                        </div>
                    </div>
                    <button class="card-product-btn">see more</button>
                </div>
            </div>

            <div class="card-product-content">
                <div class="card-product">
                    <h2>Appliances for your home | Up to 55% off</h2>
                    <div class="product-nested-cards">
                        <div class="nested-card">
                            <img src="images/card13.jpg">
                            <p>Air conditioners</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card14.jpg">
                            <p>Refrigerators</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card15.jpg">
                            <p>Microweves</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card16.jpg">
                            <p>Washising machines</p>
                        </div>
                    </div>
                    <button class="card-product-btn">see more</button>
                </div>

                <div class="card-product">
                    <h2>Revamp your home in style</h2>
                    <div class="product-nested-cards">
                        <div class="nested-card">
                            <img src="images/card9.jpg">
                            <p>Bedsheets, curtains & more</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card10.jpg">
                            <p>Home decoration</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card11.jpg">
                            <p>Home storage</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card12.jpg">
                            <p>Lighting solutions</p>
                        </div>
                    </div>
                    <button class="card-product-btn">see more</button>
                </div>

                <div class="card-product">
                    <h2>Up to 60% off | Styles for men</h2>
                    <div class="product-nested-cards">
                        <div class="nested-card">
                            <img src="images/card5.jpg">
                            <p>Clothing</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card6.jpg">
                            <p>Footwear</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card7.jpg">
                            <p>Watches</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card8.jpg">
                            <p>Bags & wallets</p>
                        </div>
                    </div>
                    <button class="card-product-btn">see more</button>
                </div>

                <div class="card-product">
                    <h2>Up to 75% off | Headphones</h2>
                    <div class="product-nested-cards">
                        <div class="nested-card">
                            <img src="images/card1.jpg">
                            <p>boAt Up to 75% off | boAt</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card2.jpg">
                            <p>boAtUp to 75% off | boult</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card3.jpg">
                            <p>boAtUp to 75% off | noise</p>
                        </div>

                        <div class="nested-card">
                            <img src="images/card4.jpg">
                            <p>boAtUp to 75% off | zebronics</p>
                        </div>
                    </div>
                    <button class="card-product-btn">see more</button>
                </div>
            </div>
        </div>
        <!-- card product section end -->

        <!-- today's deals section start -->
        <section class="today_deals_container">

            <!-- today's deals heading start-->
            <div class="today_deals_heading">
                <h1>Today's Deals</h1>
                <p><a href="">See all deals</a></p>
            </div>
            <!-- today's deals heading end -->

            <!-- today's deals product start-->
            <div class="today_deals_product">
                <!-- buttons start -->
                <div class="today_deals_btn">
                    <button class="today_btn" id="today_deal_btn_prev">
                        &#10094;
                    </button>
                    <button class="today_btn" id="today_deal_btn_next">
                        &#10095;
                    </button>
                </div>
                <!-- buttons end -->

                <!-- product list start -->
                <div class="today_deals_product_list">
                    <div class="today_deals_item">
                        <img src="images/box1_image.jpg"/>
                        <div class="discount">
                            <a href="#">Up to 52% off</a>
                            <a href="#">Deal of the day</a>
                        </div>
                        <p>adidas and Campus Footwear</p>
                    </div>

                    <div class="today_deals_item">
                        <img src="images/box1_image.jpg"/>
                        <div class="discount">
                            <a href="#">Up to 52% off</a>
                            <a href="#">Deal of the day</a>
                        </div>
                        <p>adidas and Campus Footwear</p>
                    </div>

                    <div class="today_deals_item">
                        <img src="images/box1_image.jpg"/>
                        <div class="discount">
                            <a href="#">Up to 52% off</a>
                            <a href="#">Deal of the day</a>
                        </div>
                        <p>adidas and Campus Footwear</p>
                    </div>

                    <div class="today_deals_item">
                        <img src="images/box1_image.jpg"/>
                        <div class="discount">
                            <a href="#">Up to 52% off</a>
                            <a href="#">Deal of the day</a>
                        </div>
                        <p>adidas and Campus Footwear</p>
                    </div>

                    <div class="today_deals_item">
                        <img src="images/box1_image.jpg"/>
                        <div class="discount">
                            <a href="#">Up to 52% off</a>
                            <a href="#">Deal of the day</a>
                        </div>
                        <p>adidas and Campus Footwear</p>
                    </div>

                    <div class="today_deals_item">
                        <img src="images/box1_image.jpg"/>
                        <div class="discount">
                            <a href="#">Up to 52% off</a>
                            <a href="#">Deal of the day</a>
                        </div>
                        <p>adidas and Campus Footwear</p>
                    </div>

                    <div class="today_deals_item">
                        <img src="images/box1_image.jpg"/>
                        <div class="discount">
                            <a href="#">Up to 52% off</a>
                            <a href="#">Deal of the day</a>
                        </div>
                        <p>adidas and Campus Footwear</p>
                    </div>

                </div>
                <!-- product list end -->
            </div>
            <!-- today's deals product end -->
 
        </section>
        <!-- today's deals section end -->
        
    </main>
    <!-- main section end -->

    <!-- footer section start-->
    {{>footer}}
    <!-- footer section end -->
    <script src="js/javascript.js" type="module"></script>
</body>
</html>