<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders & Returns</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/panelbar.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    {{>navbar}}
    {{>panelbar}}
    <h1 style="font-size: 100px;">Order & Return</h1>
    {{>footer}}
    
</body>
</html>