*{
    margin: 0;
    font-family: Arial;
    border:border-box;
}

/*banner section start */
.banner_container{
    position:relative;
}

.banner_inner{
    display: flex;
    overflow: hidden;
}

.banner_item{
    min-width: 100%;
    transition: transform 0.5s;
}

.banner_item img{
    width: 100%;
    height: 100%; 
}

/* button start */
.button-p-n{
    position: absolute;
    top:0;
    height: 240px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.banner_control-prev{
    border: none;
    margin-top: 3px;
    padding: 0px 30px;
    font-size: 34px;
    font-weight: 500;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_control-next{
    border: none;
    margin-top: 3px;
    padding: 0px 30px;
    font-size: 34px;
    font-weight: 500;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner_control-prev:hover{
    border: 1px solid rgb(3, 56, 77);
    box-shadow: -1px 0px 5px 4px rgb(252, 253, 252);
}

.banner_control-next:hover{
    border: 1px solid rgb(3, 56, 77);
    box-shadow: 1px 0px 5px 4px rgb(252, 253, 252);
}
/* button end */

/*banner media query screen 480px - 767px start */
@media (min-width:480px) and (max-width:767px) {

    .button-p-n{
        height: 80px;
    }

    .banner_control-prev{
        padding: 0px 7px;
        font-size: 25px;
        font-weight: 400;
    }
    
    .banner_control-next{
        padding: 0px 7px;
        font-size: 25px;
        font-weight: 400;
    }
    
 }
 /* banner media qury screen 480px - 767px end */

 /*banner media query screen 768px - 991px start */
@media (min-width:768px) and (max-width:991px) {
    .button-p-n{
        height: 130px;
    }

    .banner_control-prev{
        padding: 0px 15px;
        font-size: 25px;
        font-weight: 500;
    }
    
    .banner_control-next{
        padding: 0px 15px;
        font-size: 25px;
        font-weight: 500;
    }
     
 }
 /* banner media query screen 768 - 991px end */

  /* banner media query screen 992px - 1200px start */
@media (min-width:992px) and (max-width:1200px) {
    .button-p-n{
        height: 170px;
    }

    .banner_control-prev{
        padding: 0px 20px;
        font-size: 30px;
        font-weight: 500;
    }
    
    .banner_control-next{
        padding: 0px 20px;
        font-size: 30px;
        font-weight: 500;
    }
     
 }
/* banner media query screen 992px - 1200px end */

/* banner section end */

/* card product section start */
.card_product_section{
    position: relative;
    margin-top:-280px;
    
}

.card-product-content{
    padding: 20px;
    display: flex;
    justify-content: space-between;

}
.card-product{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 290px;
    box-shadow: 0px 150px 100px 20px rgb(214, 204, 204),
    0px 250px 40px 20px rgb(214, 204, 204);
}
.card-product h2{
    margin: 0;
    padding: 10px;
 
}

.product-nested-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nested-card{
    max-width: 125px;
    padding: 10px;
}

.nested-card img {
    width: 125px;
    height: 100px;
    object-fit: cover;

}
.nested-card p{
    margin: 5px;
    font-weight: bold;
}
.card-product-btn{
    font-size: 14px;
    align-self: flex-start;
    margin: 7px 10px; 
    padding-left: 0;
    background-color: transparent;
    border:none;
    color:rgb(25, 105, 105)
}
.card-product-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* card product  media query screen 480px - 767px start */
@media (min-width:480px) and (max-width:767px) {

    /*card product section start*/
   .card_product_section{
       margin-top:-135px;
   }

   .card-product{
    margin-top: 10px;
    max-width: 767px;
    box-shadow: 0px 30px 100px 20px rgb(214, 204, 204),
    0px 110px 20px 20px rgb(214, 204, 204);
    }
   
   .card-product-content{
       padding: 15px;
       display: block;
   
   }

   .card-product h2{
    font-size:18px;
    
    }

   .nested-card{
    max-width: 100px;
    padding: 5px;
    }

    .nested-card img {
        width: 100px;
    }

    .nested-card p{
        margin: 2px;
        font-size: 10px;
    }

    /* card product section end */
}
/* card product  media query screen 480px - 767px end */

/* card product media query screen 768px - 991px start */
@media (min-width:768px) and (max-width:991px) {

    /* card product section start*/
   .card_product_section{
       margin-top:-190px;
   }

   .card-product-content{
    padding:0px;
    justify-content: space-evenly;
   }

   .card-product{
    margin-top: 15px;
    max-width: 185px;
    box-shadow: 0px 50px 100px 10px rgb(214, 204, 204),
    0px 150px 40px 10px rgb(214, 204, 204);

    }

   .card-product h2{
    font-size:15px;
    
    }

   .nested-card{
    max-width: 80px;
    padding: 0px;
    }

    .nested-card img {
        width: 80px;
        height: 70px;
    }

    .nested-card p{
        margin: 2px;
        font-size: 10px;
    }

    /*  card product section end */
}
/* card product media query screen 768px - 991px end */

/* card product media query screen 992px - 1200px start */
@media (min-width:992px) and (max-width:1205px) {

    /* card product section start*/
   .card_product_section{
       margin-top:-240px;
   }

   .card-product-content{
    padding:0px;
    justify-content: space-evenly;
   }

   .card-product{
    margin-top: 20px;
    max-width: 240px;
    box-shadow: 0px 100px 100px 20px rgb(214, 204, 204),
    0px 200px 40px 10px rgb(214, 204, 204);

    }

   .card-product h2{
    font-size:20px;
    
    }

   .nested-card{
    max-width: 110px;
    padding: 0px;
    }

    .nested-card img {
        margin-top: 5px;
        width: 110px;
        height: 90px;
    }

    .nested-card p{
        margin: 2px;
        font-size: 15px;
    }
    /* card product section end */
}
/* card product media query screen 992px -1200px end */
/* card product section end */

/* today's deals section start */
.today_deals_container{
    position: relative;
    padding: 10px;
    height: 300px;
    background-color: white;
    margin: 20px;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1),
    2px 2px 5px rgba(0, 0, 0, 0.1);
    
}

/* today's deals heading start*/
.today_deals_heading{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.today_deals_heading p a{
    color:rgb(39, 114, 107);
    text-decoration: none;
    padding-left: 20px;
}
.today_deals_heading p a:hover{
    text-decoration: underline;
}
/* today's deals heading end */

/* today's deals product start*/
.today_deals_product{
    /* background-color: red; */
    height: 300px;
    position: relative;
}

/* product list start */
.today_deals_product_list{
    /* margin: 20px; */
    display: flex;
    overflow: hidden;

}
.today_deals_item{
    box-shadow: 0px 0px 0px 10px rgb(214, 204, 204);
    min-width: 250px;
    border: 2px solid gray;
    height: 250px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: translateX(0%);
    transition: transform 1s;
}
.today_deals_item .today_img {
    height: 150px;
}
.today_deals_item img{
    width: 100%;
    height: 100%;
}

.discount{
    margin: 10px;
}
.today_deals_item p{
    justify-self: flex-end;
}

.discount a{
    font-size: 10px;
    font-size: 14px;
    color:rgb(211, 30, 84);
    text-decoration: none;
}
.discount a:first-child{
    background-color: rgb(211, 30, 84);
    padding: 5px 10px;
    color:white;
    font-weight: 550;
    text-decoration: none;
    border-radius: 3px;
    font-size: 12px;
}

.today_deals_item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 240px;
    font-size: 14px;
}
/* product list end */

/* buttons start*/
.today_deals_btn{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    z-index: 10;
}
.today_btn{
    padding: 40px 10px;
    font-size: 40px;
    border: none;
    outline: none;
    background-color: rgba(149, 121, 121, 0.4);
}
/* buttons end */

/* today's deals screen 480px - 767px start */
@media (min-width:480px) and (max-width:767px){
    /* today's deals section start */
    .today_deals_container{
        height: 250px;
        margin-bottom: 20px;
        margin-top: -5px;
        margin-left: 15px;
        margin-right: 15px;
        
    }
        
    .today_deals_heading{
        padding: 5px 5px;
    }

    .today_deals_heading h1{
        font-size: medium;
    }

    .today_deals_heading p a{
        font-size: small;
        padding-left: 10px;
    }

    .today_deals_product{
        height: 150px;
        position: relative;
    }

    .today_deals_item{
        min-width: 200px;
        height: 220px;
        align-items: center;
        transition: transform 2s;
    }

    .discount a{
        font-size: 12px;
    }
    .discount a:first-child{
        font-size: 10px;
    }

    .today_deals_item p {
        width: 180px;
        font-size: 12px;
    }

    .today_deals_btn{
        height: 200px;
        z-index: 10;
    }
    .today_btn{
        padding: 30px 8px;
        font-size: 40px;
    }

    .todayDeals_product_image {
        height: 50%;
        width: 70%;
    }
    /* today's deals section end */

}
/* today's deals screen 480px - 767px end */

/* today's deals screen 768px - 991px start */
@media (min-width:768px) and (max-width:991px){
    /* today's deals section start */
    .today_deals_container{
        height: 250px;
        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        
    }
        
    .today_deals_heading{
        padding: 5px 5px;
    }

    .today_deals_heading h1{
        font-size: medium;
    }

    .today_deals_heading p a{
        font-size: small;
        padding-left: 10px;
    }

    .today_deals_product{
        height: 150px;
        position: relative;
    }

    .today_deals_item{
        min-width: 200px;
        height: 220px;
        align-items: center;
        transition: transform 2s;
    }

    .discount a{
        font-size: 12px;
    }
    .discount a:first-child{
        font-size: 10px;
    }

    .today_deals_item p {
        width: 190px;
        font-size: 12px;
    }

    .today_deals_btn{
        height: 200px;
        z-index: 10;
    }
    .today_btn{
        padding: 30px 8px;
        font-size: 40px;
    }

    .todayDeals_product_image {
        height: 50%;
        width: 70%;
    }
    /* today's deals section end */

}
/* today's deals screen 768px - 991px end */

/* today's deals screen 992px - 1200px start */
@media (min-width:992px) and (max-width:1200px){
    /* today's deals section start */     
    .today_deals_heading{
        padding: 5px 5px;
    }

    .today_deals_item{
        align-items: center;
    }

    .today_deals_item p {
        width: 230px;
        margin-bottom: 20px;
        font-size: 13px;
    }

    .todayDeals_product_image {
        height: 60%;
        width: 90%;
    }
    /* today's deals section end */

}
/* today's deals screen 992px - 1200px end */
/* today's deals section end */


