*{
    margin: 0;
    font-family: Arial;
    border:border-box;
}

/* navbar */
.navbar {
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* box1 */
.navbar .nav-logo{
    height: 50px;
    width: 100px;
    border: 2px solid rgb(221, 130, 130);
}
.navbar .nav-logo:hover{
    border: 2px solid white;
}
.navbar .nav-logo img {
    height: 100%; 
    width: 100%;
}

/* box2 */
.navbar .nav-address{
    display: flex;
    align-items: center;
    justify-content:center ;
    margin-left: 2px;
    border: 2px solid transparent;
}

.navbar .nav-address:hover{
    border: 2px solid white;
}

.navbar .nav-address .deliver-to{
    color: rgb(187, 175, 175);
    font-size: 13px;
    margin-left: 15px;
}

.navbar .nav-address .add-icon {
    display: flex;
    align-items: center;
}

.navbar .nav-address .add-icon .india{
 font-size: 15px;
 margin-left: 3px;
 color: white;
}

/* box3 */
.navbar .nav-search-bar {
   display: flex; 
   justify-content: space-evenly;
   width: 620px;
   height: 40px;
   border-top-right-radius: 5px;
   border-bottom-right-radius: 5px;
}

.navbar .nav-search-bar .search-select {
    background-color: rgb(231, 222, 222);
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border:none;
}

.navbar .nav-search-bar .search-input {
    width: 100%;
    font-size: 15px;
    border:none;

}
.navbar .nav-search-bar .search-icon {
    background-color: #febd68;
    color: black;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border:none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* box4 */
.navbar .nav-signin {
   display: flex;
   align-items: center;
   justify-content: center;
    border: 2px solid transparent;
}

.navbar .nav-signin:hover {
    border: 2px solid white;
}

.navbar .nav-signin span {
    font-size: 15px;
}

.navbar .nav-signin .account-list{
    font-size: 20px;
    font-weight: 600px;
}

/* box5 */
.navbar .nav-order {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
}

.navbar .nav-order:hover {
    border:2px solid white;
}

.navbar .nav-order span{
    font-size: 15px;
}

.navbar .nav-order .orders {
    font-size: 20px;
    font-weight: 600px;
}

/* box6 */
.navbar .nav-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
}

.navbar .nav-cart:hover {
    border: 2px solid white;
}

.navbar .nav-cart i {
    font-size: 40px;
}

.navbar .nav-cart .cart {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600px;
}

@media (min-width:768px) {

    /* box1 */
    .navbar .nav-logo{
        height: 40px;
        width: 80px;
    }
   
    /* box2 */
    .navbar .nav-address{
        height: 50px;
        width: 70px;
    }

    .navbar .nav-address .deliver-to{
        font-size: 10px;
    }

    .navbar .nav-address .add-icon .india{
    font-size: 15px;
    
    }

    /* box3 */
    .navbar .nav-search-bar {
        width: 320px;
        height: 40px;
     }

    /* box4 */
    .navbar .nav-signin {
        height: 50px;
        width: 110px;
    }

    .navbar .nav-signin span {
        font-size: 10px;
    }

    .navbar .nav-signin .account-list{
        font-size: 15px;
    }

    /* box5 */
    .navbar .nav-order {
        height: 50px;
        width: 80px;
    }

    .navbar .nav-order span{
        font-size: 10px;
    }

    .navbar .nav-order .orders {
        font-size: 15px;
    }

    /* box6 */
    .navbar .nav-cart {
        height: 50px;
        width: 70px;
        margin-right: 10px;
    }
    
    .navbar .nav-cart i {
        font-size: 25px;
    }

    .navbar .nav-cart .cart {
        font-size: 12px;
    }
    
}

/* Panel */
.panel {
    height: 40px;
    background-color: #14273d;
    display:flex;
    color: rgb(255, 255, 255);
    align-items: center;
    
    justify-content: space-evenly;
}

/* Left Panel */
.left-panel {    
    width: 70%;
    display:flex;
    align-items: center;
    color: rgb(255, 255, 255);
}

.left-panel .left-panel-all {
    height: 34px;
    margin-left: 15px;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
}

.left-panel .left-panel-all:hover {
    border: 2px solid white;
}

.left-panel .left-panel-all  i {
    margin-left: 5px;
    font-size: 22px;
    color: white;
    font-weight: bold;
}

.left-panel .left-panel-all  p {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.left-panel .left-panel-opction {
    font-size: 15px;
    height: 34px;
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.left-panel .left-panel-opction p {
    margin-right: 10px;
    height: 34px;
    display: flex;
    align-items: center;
    border: 2px solid transparent;
}

.left-panel .left-panel-opction p:hover {
    border: 2px solid white;
}


/* Right Panel */
.right-panel {
    height: 34px;
    display:flex;
    align-items: center;
    color: rgb(255, 255, 255);
    border: 2px solid transparent;
}
.right-panel:hover {
    border:2px solid white
}

.right-panel .right-panel-opction{
    margin-left: 30px;
    display: flex;
    align-items: center;
}

.right-panel .right-panel-opction .festival{
    font-size: 15px;
    margin-left: 3px;
}

.right-panel .right-panel-opction .vertical{

    font-size: 20px;
    font-weight: bold;
    margin-left: 3px;
    margin-right: 3px;
}

.right-panel .right-panel-opction .shop-now {
    margin-left: 3px;
    font-size: 18px;
    margin-right: 10px;
}

/*carousel container */
.carousel-container{
    position:relative
}

/* slider content */
.carousel-inner{
    display: flex;
    overflow: hidden;
}

.carousel-item{
    min-width: 100%;
    transition: transform 0.5s;
}

.carousel-item img{
    width: 100%;
    height: 100%; 
}

.button-p-n{
    position: absolute;
    top:0;
    height: 248px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.carousel-control-prev{
    border: none;
    margin-top: 3px;
    padding: 100px 30px;
    font-size: 34px;
    font-weight: bold;
    background-color: transparent;
}

.carousel-control-next{
    border: none;
    margin-top: 3px;
    padding: 100px 30px;
    font-size: 34px;
    font-weight: bold;
    background-color: transparent;
}

.carousel-control-prev:hover{
    border: 2px solid rgb(3, 56, 77);
    box-shadow: 4px 0px 5px 4px rgb(252, 253, 252);
}

.carousel-control-next:hover{
    border: 2px solid rgb(3, 56, 77);
    box-shadow: -4px 0px 5px 4px rgb(252, 253, 252);
}

/*product card content*/
.main_content{
    position: relative;
    top:-310px;
    
}

.card-product-content{
    padding: 20px;
    display: flex;
    justify-content: space-between;

}
.card-product{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 310px;
    box-shadow: 0px 150px 100px 20px rgb(214, 204, 204),
    0px 250px 40px 20px rgb(214, 204, 204);
}
.card-product h2{
    margin: 0;
    padding: 10px;
    
}

.product-nested-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nested-card{
    max-width: 128px;
    padding: 10px;
}

.nested-card img {
    width: 128px;
    height: 102px;
    object-fit: cover;

}
.nested-card p{
    margin: 5px;
}
.card-product-btn{
    font-size: 14px;
    align-self: flex-start;
    margin: 7px 10px; 
    padding-left: 0;
    background-color: transparent;
    border:none;
    color:rgb(25, 105, 105)
}
.card-product-btn:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* today's deals section  */
.today_deals_container{
    position: relative;
    padding: 10px;
    height: 300px;
    background-color: white;
    margin: 20px;
    box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.1),
    2px 2px 5px rgba(0, 0, 0, 0.1);
    
}

/* heading */
.today_deals_heading{
    display: flex;
    align-items: center;
    padding: 10px 20px;
}
.today_deals_heading p a{
    color:rgb(39, 114, 107);
    text-decoration: none;
    padding-left: 20px;
}
.today_deals_heading p a:hover{
    text-decoration: underline;
}

/* today's product */
.today_deals_product{
    /* background-color: red; */
    height: 300px;
    position: relative;
}

/* product list */
.today_deals_product_list{
    /* margin: 20px; */
    display: flex;
    overflow: hidden;

}
.today_deals_item{
    box-shadow: 0px 0px 0px 10px rgb(214, 204, 204);
    min-width: 250px;
    border: 2px solid gray;
    height: 250px;
    padding: 0px 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    transform: translateX(0%);
    transition: transform 1s;
}
.today_deals_item img{
    width: 100%;
    height: 100%;
    /* padding: 20px 20px; */
    background-color: red;
}
.today_deals_item p{
    justify-self: flex-end;
}
.discount{
    /* border: 2px solid red; */
}
.discount a{
    font-size: 10px;
    padding: 5px 10px;
    font-size: 14px;
    color:rgb(211, 30, 84);
    text-decoration: none;
}
.discount a:first-child{
    background-color: rgb(211, 30, 84);
    padding: 5px 10px;
    color:white;
    font-weight: 550;
    text-decoration: none;
    border-radius: 3px;
    font-size: 12px;
}

.today_deals_item p {
    margin-top: 10px;
    font-size: 14px;
}

/* buttons */
.today_deals_btn{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    z-index: 10;
}
.today_btn{
    padding: 40px 10px;
    font-size: 40px;
    border: none;
    outline: none;
    background-color: rgb(255,255,255,0.4);
}


.todayDeals_product_image {
    margin-top: 5px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 15px;
}

/* footer */

footer {
    margin-top: -300px;
    position: relative;
}

/* footer_panel 1 */
.footer_panel1 {
    background-color: #224368;
    color: white;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

/* footer_panel 2 */
.footer_panel2 {
    background-color: #14273d;
    color: white;
    height: 300px;
    display:flex;
    justify-content: space-evenly;
}

.footer_panel2 ul {
    margin-top: 20px;
}

.footer_panel2 ul p {
    font-size: 20px;
    font-weight: bold;
}

.footer_panel2 ul a {
    display: block;
    font-size: 14px;
    margin-top: 10px;
    color: white;

}

/* footer_panel 3 */
.footer_panel3 {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #14273d;
    border-top: 1px solid white;
}
.footer_panel3 img {
    height: 50px;
    width: 100px;
    margin-right: 50px ;
}

.footer_panel3 .language_content {
    height: 40px;
    width: 120px;
    border: 1px solid white;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

.footer_panel3 #down {
    color: rgb(152, 134, 134);
}

/* footer_panel4 */
.footer_panel4 {
    height: 70px;
    background-color: black;
    color: white;
}

.footer_panel4 .footer_content {
    /* height: 40px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_content a {
    margin-top: 10px;
    margin-right: 15px;
    color: white;
    font-size: 13px;
    text-decoration: black;

}

.footer_panel4 .copyright {
    margin-top: 10px;
    font-size: 12px;
    display: flex;
    align-content: center;
    justify-content: center;
}


